body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(135deg, #ffffff, #150d2d, #162134) !important;
  color: white !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

.textColor{
  background: linear-gradient(135deg, #1a0b19, #7a72fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  /* background-color: #261024; */

  /* Gradient */
  background-color: #510E78;
  box-shadow: #ADEEF0 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
  /* text-align: center; */
}

.techStack {
  /* Text and border styling */
  color: #c24dd0;
  border: 2px solid #c24dd0;
  padding: 0.5rem 2rem;
  /* border-radius: 999px; */

  /* Gradient */
  background-image: linear-gradient(135deg, #c24dd0, #7a72fa);
  background: transparent;
  /* You can adjust the angle and add more color stops if needed */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
